body{
	background-image: url(21.jpg);
}
.center{
	position: relative;
	height: 500px;
}
.container{
	position: absolute;
  	top: 50%;
  	margin-top: -70px;
	/*margin: 0 auto;*/
	width: 425px;
	height: 420px;
	background-color: #f9d98d;
	/*background-size: cover;*/
	
}
.header{
	width: 300px;
	z-index: 10;
	padding-top: 47px;
	padding-left:  45px;
	color: #553000;
}
h1{
	margin: 0;
	font-size: 40px;
}
p{
	font-size: 12px;
	color: #553000;
	margin: 0;
}
span{
	font-size: 12px;
	color: #553000;
}
.mail{
	margin: 41px 0 12px 89px;
}
.pass{
	margin-left: 66px;
}
.check{
	margin: 10px 0 0 142px;
	font-size: 11px;
	color: #553000;
}
a{
	color: #553000;
	margin-left: 10px;
}
input.color{
	background-color: #553000;
	border-color: #331d00;
	color: #fff;
	height: 28px;
}
input.button{
	width: 103px;
	height: 42px;
	margin: 14px 0 0 135px;
	background-color: #553000;
	border-color: #331d00;
	border-radius: 10px;
	color: #fff;
}
.container:hover{
	-moz-transform: translate(50%, 0px);
	-webkit-transform: translate(50%, 0px);
	-o-transform: translate(50%, 0px);
	-ms-transform: translate(50%, 0px);
	transform: translate(50%, 0px);
	transition: all 8s ease-in-out;
};